@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url(//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular);

.about_section {
    padding: 100px 300px;
    /* padding: 5vw 10vw */
}

/* @media (max-width: 767px) {
    .about_section {
        padding: 10px;
    }
} */

.about_image {
    height: 350px;
}


.border {
    padding: 30px;
    background-color: #9fc3d3;
}

.about_container {
    display: flex;
    flex-direction: row;
}

.about_description {
    display: flex;
    flex-direction: column;
}

.more {
    margin-left: 50px;
}

.title {
    font-size: 50px;
    font-family: 'fairplay';
    letter-spacing: -1px;
    font-weight: 400;
    color: #b49aca;
}

.paragraph {
    font-size: 20px;
    margin-top: 10px;
    font-family: "Graphik Web Regular", sans-serif;
    letter-spacing: -1px;
    line-height: 28px;
}

.white_section {
    margin-top: 50px;
    background-color: white;
    padding: 50px 70px;
}

.alt_section {
    margin-top: 50px;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}